*{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}
.a{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    perspective: 90rem;
    perspective-origin: 30% 60%;
    text-align: justify;
}
.b{
    display: flex;
    transform: rotatex(10deg) rotateY(15deg) rotateZ(-9deg) scale3d(1,1,-0.9) scale(1,1) translateX(50px);
}
.c{
    color: #fff;
    border-radius: 8px;
    padding: 0px 18px;
    width: 244px;
    transition:0.5s ;
    overflow: hidden;
    transform: translate(0);
}
.c::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}
.c h2{
    text-transform: capitalize;
}
c h5{
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 48px;
}
.c-1{
    background-size: cover;
    transform: scale(1.02);
    margin-right: 40px;
}
.c-1:hover{
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #b527cf;
}
.c-1::before{
    background: linear-gradient(90deg, #b527cf 0%,#3546f0 100%);
}
.c-2{
    background-size: cover;
    transform: scale(1.01);
    margin-right: 31px;
}
.c-2:hover{
    transform: scale(1.1);
    box-shadow:  -7px 4px 28px -3px #3bd9d9;
}
.c-2::before{
background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
}
.c-3{
    background-size: cover;
}
.c-3:hover{
    transform: scale(1.08);
    box-shadow:  -7px 4px 28px -3px #ff9500;

}
.c-3::before{
    background: linear-gradient(90deg, #ff9500 0%,#d5cb0f 100%);

}

































